h1 {color: black;
}


h2 {color: black;
}

h3 {color: ;
}
h3 {color: black;}

h4 {color: blue;
}

h1 {text-align: center;
}
h2 {text-align: right;
}
h3 {text-align: left;
    border-color: blue;
    border-style: solid;
    border-width: 5px;
}
h3 { text-align: right;
    border-color: navy;
    border-style: solid;
    border-width: 5px;
}
h4 { text-align: left;
    border-color: mediumblue;
    border-style: solid;
    border-width: 5px;
}